<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logowithbg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalonAppointment"
        tools:targetApi="31">
        <activity
            android:name=".displayDetail.displayProgress"
            android:exported="false" />
        <activity
            android:name=".registration.registerData"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayDashboard"
            android:exported="false" />
        <activity
            android:name=".registration.write_reviews"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayReviews"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayCategories"
            android:exported="false" />
        <activity
            android:name=".editData.editUserAcccount"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayAppointment"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayService"
            android:exported="false" />
        <activity
            android:name=".displayDetail.displayStylist"
            android:exported="false" />
        <activity
            android:name=".editData.editUserProfile"
            android:exported="false" />
        <activity
            android:name=".registration.register_sched"
            android:exported="false" />
        <activity
            android:name=".registration.service_registration_frm"
            android:exported="false" />
        <activity
            android:name=".registration.stylist_registration_frm"
            android:exported="false" />
        <activity
            android:name=".registration.categories_registration_frm"
            android:exported="false" />
        <activity
            android:name=".main_page_frm"
            android:exported="false" />
        <activity
            android:name=".appointment_designFrm"
            android:exported="false" />
        <activity
            android:name=".loginFrm"
            android:exported="false" />
        <activity
            android:name=".signupFrm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>